html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.border-page{
    height: 100%;
    width: 100%;
    border: #2c476e 15px solid;
    position: absolute;
    box-sizing: border-box;
    z-index: -1 ;
}
.page{
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

/*Barra de navegação*/
.bar{
    height: 10%;
    width: 50%;
}
.button > a {
    height: 7vh;
    width: 14vw;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fef5e4;
    transition: height 0.5s;
    z-index: -1;
}
.button > a:hover::before {
    height: 100%;
}
.button > a:hover {
    background-color: #2c476e;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}

/* Calendário */
.calendario{
    max-width: 760px;
    margin: 10px;
    background-color: #ffffff ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.diasSemana{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #2c476e;
    padding: 10px 0;
}
.numeroDias{
    width: 100%;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
}
.mes-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.mes-nav button{
    text-decoration: none;
    background-color: #2c476e;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 2vh;
    height: 30px;
}
.mes-nav button:hover{
 cursor: pointer;
}
.diasSemana span{
    color: #2c476e ;
    display: inline-block;
    width: 14.2%;
    font-size: 2.5vh;
    font-weight: bold;
}
.numeroDias span{
    display: inline-block;
    width: 14.2%;
    color:#000000;
    margin-bottom: 8px;
    height: 60px;
    font-size: 2.5vh;
    box-sizing: border-box;
    padding: 1px;
    display: flex;
}
.numeroDias span:hover{
    outline: 1px solid #2c476e;
    
}
.dia-atual {
    color: #2c476e!important; 
    font-size: 3.5vh !important;
    font-weight: bold;
}
.fim-de-semana{
    color: gray !important;
    pointer-events: none;
}

/* Botões */
.btnOptionsDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonOptions > button {
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    z-index: 2;
    padding: 14px;
}
.buttonOptions:hover {
    transition: 0.5s;
    box-shadow: #2c476e 2px 2px;
}
.btnOptionsDiv:hover{
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
    box-shadow: #2c476e -2px -2px;
}
.buttonOptions > button:hover{
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
}

/* Modal */
.modal{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 4;
    width: 30%;
    max-height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #ffffff;
    scroll-behavior: smooth;
}
.modal-content{
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #97a9d1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}
.container-agenda{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2.2vh;
}.flex{
    display: flex;
    width: 100%;
}
.label-flex{
    display: flex;
    width: 18%;
    justify-content: start;
}
.label-flexModal{
    display: flex;
    width: 50%;
}
.label-flexModalInfo{
    width: 50%;
}
.idConsulta{
    font-weight: bold;
    margin-top: 10px;
}
.dataConsulta{
    font-size: 1.3vw;
    color: #2c476e;
    font-weight: bold;
    text-align: start;

}
.fim{
    margin-bottom: 25px;
}
.divAviso{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
}

/* Botões do modal */
.headerModal{
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.btn-close{
    display: flex;
    justify-content: end;
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-color: #2c476e;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}
.add{
    width: 200px !important;
    margin-right: 10px;
}
.close:hover{
    transition: .2s;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px #000000;
}
.btn-modal-div{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}
.btn-modal:hover{
    box-shadow: 3px 3px #000000;
    transition: .2s;
    text-decoration: none;
    cursor: pointer;
}
.btn-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c476e;
    width: 45%;
    height: 100%;
    border: 2px solid #2c476e;
}
img{
    width: 30px;
    image-rendering:crisp-edges;
}
.registros{
    padding: 4px;
    padding-left: 8px;
}

 /* Funções do modal (animação) */
#modalBackdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
    opacity: 0.5;
}
.shake {
    animation: shake 0.5s;
}
@keyframes shake {
    0%{transform: translate(-50%, -50%);}
    25%{transform: translate(-50%, -50%) translateX(-5px);}
    50%{transform: translate(-50%, -50%) translateX(5px);}
    75%{transform: translate(-50%, -50%) translateX(-5px);}
    100%{transform: translate(-50%, -50%);}
}
.escondido{
    display: none;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: #2c476e; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

/* Logo */
.logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0;
    right: 30px;
}

.logo > img{
    width: 200px;
    height: 200px;
    position: fixed;
    
}
