html{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.border-page{
    min-height: 100%;
    width: 100%;
    border: #2c476e 15px solid;
    position: absolute;
    box-sizing: border-box;
    z-index: -1 ;
}
.page{
    min-height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/*Barra de navegação*/
.bar{
    height: 10%;
    width: 50%;
    position: relative;
}
.button > a {
    height: 7vh;
    width: 14vw;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fef5e4;
    transition: height 0.5s;
    z-index: -1;
}
.button > a:hover::before {
    height: 100%;
}
.button > a:hover {
    background-color: #2c476e;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}
.selected>a{
    background-color: #fef5e4;
    color: #000000;
}
.selected > a:hover {
    background-color: #fef5e4 !important ;
    color: #000000 !important; 
}

/* Formulário */
.flex{
    display: flex;
    justify-content: space-between;
}
.separa-form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    position: absolute;
}
.form-containerCliente{
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    gap: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 65%;
}
.form-containerAnimais{
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    gap: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 100%;

}
.container-cliente{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    height: 100%;
    justify-content: center;
    background-color: #fef5e4;
    border: 1px solid #2c476e;
}
.container-animal{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    width: 90%;
    background-color: #fef5e4;
    border: 1px solid #2c476e;
}
.lista-animais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    max-height: 100%;
    width: 100%;
    gap: 10px;
}
.label-form{
    width: 45%;
}
.form-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.input-form{
    width: 55%;
    display: flex;
    justify-content: start;
}
input{
    width: 100%;
}
.radio-div{
    font-size: 70%;
    display: flex;      
    align-items: center;
}
.escondido{
    display: none;
}
.radio-div input:hover{
    cursor: pointer;
}

/* Botões do formulário */
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Botões do formulário */
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: absolute;
    bottom: 40px;
    margin: 15px;
    right: 50%
}

.buttonOptions > button {
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.4vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    z-index: 2;
    padding: 14px;
    border: none;
    width: 100%;
    height: 40px;
}

.buttonOptions,
.buttonAdd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonOptions:hover,
.buttonAdd:hover {
    transition: 0.5s;
    box-shadow: #2c476e 2px 2px;
}
.buttonAdd > button{
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.4vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    z-index: 2;
    border: none;
    width: 30px;
    height: 30px;
}
.btnSubmitDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnAddButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addButton{
    width: 30px;
    height: 30px;
    padding: 11px;
}

.btnSubmitDiv:hover,
.btnAddButtonDiv:hover {
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
    box-shadow: #2c476e -2px -2px;
}

.buttonOptions > button:hover,
.buttonAdd > button:hover {
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}





.form-btn{
    background-color: #2c476e;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 95%;
    width: 200px;
    height: 1.5em;
}
.form-btn:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px #000000;
}
.pesquisar:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px #000000;
}
.pesquisar{
    background-color: #2c476e;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 95%;
    width: 90%;
    height: 1.5em;
    margin-left: 5px;
}
.submit{
    width: 50%;
    height: 4vh;
}
.submit:hover{
    box-shadow: 1px 1px #000000;
    transition: .2s;
}

/* Scrollbar da lista de animais */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: #2c476e; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

.options-container{
    width: 40%;
    justify-content: space-evenly;
    display: flex;
    margin-top: 50px;
    position: absolute;
    top: 70%;
    right: 55%;
}
.buttonOptions > a {
    height: 7vh;
    width: 14vw;
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    z-index: 2;
}
.buttonOptions:hover {
    transition: 0.5s;
    box-shadow: #2c476e 2px 2px;
}
.btnOptionsDiv:hover{
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
    box-shadow: #2c476e -2px -2px;
}
.buttonOptions > a:hover{
    background-color: #fef5e4;
    color: #000000;
    transition: 0.5s;
}