html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c476e	;
}
.container{
    width: 35%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 20px;
    border-radius: 2px;
}
.login-box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-form{
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px black solid;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    position: relative;
    padding-left: 6%;
    box-sizing: border-box;
}
.input-form:focus{
    outline: 0;
    border-bottom: 2px #2c476e solid;
}
.span-form{
    font-size: 1.5vw;
    width: 70%;
    margin-bottom: 5px;
}
.submit-form{
    margin-top: 12px;
    width: 40%;
    height: 2vw;
    font-size: 1.3vw;
    background-color: #ffffff;
    border: 1px #2c476e solid;
    box-shadow: 1px 1px;
    border-radius: 2px;
}
.submit-form:hover{
    cursor: pointer;
    box-shadow: 3px 3px #2c476e;
    transition: .2s;
}

/* Mensagens de erro */
.msg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: #FF0000;
    width: 100%;
}
input::placeholder{
    color: #FF0000;
    font-size: 1vw;
    width: 100%;
    text-align: end;   
}
.warning {
    width: 20px;
    position: absolute;
    left: 15%;
    bottom: 2%;
    transform: translateY(-50%);
}

/* Imagens do input (user e password)*/
.input-with-image{
    margin-bottom: 40px;
    width: 70%;
    height: 25px;
    position: relative;
}
.img-input{
    width: 5%;
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 2;
}