html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.border-page{
    height: 100%;
    width: 100%;
    border: #2c476e 15px solid;
    position: absolute;
    box-sizing: border-box;
    z-index: -1 ;
}
.page{
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Barra de navegação*/
.bar{
    height: 10%;
    width: 100%;
    display: flex;
}
.button > a {
    height: 7vh;
    width: 14vw;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #2c476e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fef5e4;
    transition: height 0.5s;
    z-index: -1;
}
.button > a:hover::before {
    height: 100%;
}
.button > a:hover {
    background-color: #2c476e;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}
.selected>a{
    background-color: #fef5e4;
    color: #000000;
}
.selected > a:hover {
    background-color: #fef5e4 !important ;
    color: #000000 !important; 
}

/* Formulário */
.flex{
    display: flex;
    justify-content: space-between;
}
form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fef5e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 75%;
}
.titulo{
    justify-content: center;
    margin-bottom: 2px;
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.label-form{
    width: 45%;
}
.input-form{
    width: 55%;
    display: flex;
    justify-content: start;
}
input{
    width: 100%;
}

/* Botões do formulário */
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-btn{
    background-color: #2c476e;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 95%;
    width: 200px;
    height: 1.5em;
}
.form-btn:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px #000000;
}
.pesquisar:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: 2px 2px #000000;
}
.pesquisar{
    background-color: #2c476e;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 95%;
    width: 90%;
    height: 1.5em;
    margin-left: 5px;
    border: 1px solid #000000;
}

.escondido{
    display: none;
}