html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5d6ed	;
}
.container{
    width: 35%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 20px;
    border-radius: 2px;
}
.login-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-form{
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px black solid;
    width: 70%;
    height: 25px;
    font-size: 17px; 
}
.input-form:focus{
    outline: 0;
    border-bottom: 1px #c5d6ed solid;
}
.span-form{
    font-size: 20px;
    width: 70%;
}
.submit-form{
    margin-top: 12px;
    width: 40%;
    height: 30px;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px #000 solid;
    box-shadow: 1px 1px;
    border-radius: 2px;
}
.submit-form:hover{
    cursor: pointer;
    border: 2px #c5d6ed solid;
    box-shadow: 2px 2px;
}


