html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.border-page{
    height: 100%;
    width: 100%;
    border: #c5d6ed  15px solid;
    position: absolute;
    box-sizing: border-box;
    z-index: -1 ;
}
.container{
    width: 100%;
    height: 90%;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.bar{
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.button>a{
    height: 60px;
    width: 14vw;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #c5d6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}
a:hover{
    background-color: #97a9d1;
    transition: .5s;
}
.selected>a{
    background-color: #97a9d1;
}
.page{
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.tablebar{
    width: 80%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 50px;
}
.tablebar-button>a{
    height: 45px;
    width: 15vw;
    box-sizing: border-box;
    background-color: #c5d6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
    margin-right: 5px;
}
.tablebar-button>a:hover{
    background-color: #97a9d1;
    transition: .5s;
}
.table-container{
    border: 1px solid #97a9d1;
    width: 80%;
    height: 60%;
    overflow-y: auto;
}
table{
    text-align: left;
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;      
    font-size: 16px;
    border-collapse:collapse;
}
table .table-rows{
    height: 55px;
}
td{
    padding: 5px;
}
td:first-child{
    font-weight: bold;
}
td:nth-child(7) button{
    font-size: 15px;
}
th{
    padding: 5px;
}
tbody>tr:hover {
    background-color: #c5d6ed;
}   
.checkout{
    background-color: #b9b9b9;
    padding: 5px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-decoration: none;
}
.more-btn{
    background-color: #b9b9b9;
    padding: 5px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.checkout-btn{
    width: 120px;
}
.container-info {
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #fff;
    border-left: 1px solid #97a9d1;
    z-index: 2;
    width: 50%;
    height: 15%;
    left: 20px;
    bottom: 4%;
    border-bottom: none;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
    ::-webkit-scrollbar-thumb {
background: #97a9d1; 
}
    ::-webkit-scrollbar-thumb:hover {
background: #c5d6ed; 
}
.data{
    padding: 3px;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    right:25px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hora{
    padding: 2px;
}
.dia{
    padding: 2px;
    border-right: 1px solid #97a9d1;
}
.more-list-container{
    width: 10px;
}
.modal{
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 4;
    width: 30%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #fff;
}
.modal-content{
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #97a9d1;
    width: 100%;
    height: 100%;
}
.btn-open-modal{
    border: 1px solid #97a9d1;
    background-color: #fff;
    width: 50%;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
}
.btn-close{
    display: flex;
    justify-content: end;
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-color: #c5d6ed;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}
.close:hover{
    background-color: #97a9d1;
    transition: .5s;
    text-decoration: none;
    cursor: pointer;
}
#modalBackdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
}